packages:
  yum:
    epel-release: []
    certbot: []
    python3-certbot-nginx: []

container_commands:
  01_stop_nginx:
    command: "service nginx stop"
  02_certbot:
    command: >
      certbot certonly --standalone --non-interactive --agree-tos
      --email sanchezewverett@gmail.com
      -d comparly-dev.themovement.agency
  03_start_nginx:
    command: "service nginx start"

files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 443 ssl;
        server_name comparly-dev.themovement.agency;

        ssl_certificate /etc/letsencrypt/live/comparly-dev.themovement.agency/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/comparly-dev.themovement.agency/privkey.pem;

        location / {
          proxy_pass http://localhost:8080;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }
      }

      server {
        listen 80;
        server_name comparly-dev.themovement.agency;
        return 301 https://$host$request_uri;
      }